body {
    
}

#section-1 {
    color: white;
    height: 450px;
    background-color: black;
    text-align: center;
}

#section-1 h1 {
    font-size: 70px;
    padding-top: 10%;
}

#section-2 {
    height: 350px;
}

.skills {
    width: 40%;
    float: left;
    margin-left: 10%;
}

#section-3 {
    height: 350px;
    background-color: lightgray;
}

footer {
    height: 250px;
}

.left-col {
    height: 100%;
    width: 50%;
    float: left;
}

.right-col {
    height: 100%;
    width: 50%;
    padding-top: 1%;
    float: right;
}


/*
PORTFOLIO PAGE
*/

#portfolio {
    background-color: gray;
}

#main-div {
    height: 960px;
    width: 80%;
    margin: auto;
    background-color: white;
}
