body {
    
}

i {
    margin: 10px;
    color: black;
}

.title {
    text-align: center;
    font-size: 42px;
}

/*
SECTION 1
*/

#section-1 {
    color: white;
    height: 450px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
}

#section-1 h1 {
    font-size: 70px;
    padding-top: 10%;
}

/*
SECTION 2
*/

#section-2 {
    height: 350px;
    padding-top: 1%;
    margin: 1%;    
}

.left-col {
    height: 100%;
    width: 50%;
    float: left;
}

.right-col {
    height: 100%;
    width: 50%;
    float: right;
}
.skills {
    width: 40%;
    float: left;
    margin-left: 10%;
}

/*SECTION 3*/

#section-3 {
    height: 650px;
    background-color: lightgray;
    padding-top: 1%;    
}

#image-section {
    height: 450px;
    width: 1000px;
    margin: auto;
}

#section-3 h3 {
    text-align: center;
    clear: both;
}

.p-img {
    height: 250px;
    width: 250px;
    float: left;
    border: 1px solid white;
}

/*
FOOTER
*/

footer {
    height: 150px;
}


/*
PORTFOLIO PAGE
*/

#portfolio {
    background-color: gray;
}

#main-div {
    height: 960px;
    width: 80%;
    margin: auto;
    background-color: white;
}
